/* themes/frappe/womasexual/womasexual.css */
:root {
  --ctp-frappe-womasexual-red: #e78284;
  --ctp-frappe-womasexual-maroon: #ea999c;
  --ctp-frappe-womasexual-pink: #f4b8e4;
  --ctp-frappe-womasexual-light-pink: #eebebe;
  --ctp-frappe-womasexual-white: #c6d0f5;
}
