/* themes/macchiato/genderqueer/genderqueer.css */
:root {
  --ctp-macchiato-genderqueer-purple: #c6a0f6;
  --ctp-macchiato-genderqueer-white: #cad3f5;
  --ctp-macchiato-genderqueer-green: #a6da95;
}
