/* themes/mocha/finromantic/finromantic.css */
:root {
  --ctp-mocha-finromantic-purple: #cba6f7;
  --ctp-mocha-finromantic-pink: #f5c2e7;
  --ctp-mocha-finromantic-light-pink: #f5e0dc;
  --ctp-mocha-finromantic-maroon: #eba0ac;
  --ctp-mocha-finromantic-red: #f38ba8;
}
