/* themes/latte/asexual/asexual.css */
:root {
  --ctp-latte-asexual-black: #4c4f69;
  --ctp-latte-asexual-gray: #9ca0b0;
  --ctp-latte-asexual-white: #dce0e8;
  --ctp-latte-asexual-purple: #8839ef;
}
