/* themes/frappe/aromantic/aromantic.css */
:root {
  --ctp-frappe-aromantic-green: #a6d189;
  --ctp-frappe-aromantic-teal: #81c8be;
  --ctp-frappe-aromantic-white: #c6d0f5;
  --ctp-frappe-aromantic-gray: #737994;
  --ctp-frappe-aromantic-dark: #232634;
}
