/* themes/mocha/asexual/asexual.css */
:root {
  --ctp-mocha-asexual-black: #11111b;
  --ctp-mocha-asexual-gray: #6c7086;
  --ctp-mocha-asexual-white: #cdd6f4;
  --ctp-mocha-asexual-purple: #cba6f7;
}
