/* themes/mocha/polyam-evans/polyam-evans.css */
:root {
  --ctp-mocha-polyam-evans-blue: #89b4fa;
  --ctp-mocha-polyam-evans-red: #f38ba8;
  --ctp-mocha-polyam-evans-black: #11111b;
  --ctp-mocha-polyam-evans-yellow: #f9e2af;
}
