/* themes/latte/lesbian/lesbian.css */
:root {
  --ctp-latte-lesbian-orange: #d20f39;
  --ctp-latte-lesbian-yellow: #fe640b;
  --ctp-latte-lesbian-white: #dce0e8;
  --ctp-latte-lesbian-maroon: #ad2494;
  --ctp-latte-lesbian-red: #831b70;
}
