/* themes/latte/lesbian/lesbian.css */
:root {
  --ctp-latte-lesbian-orange: #fe640b;
  --ctp-latte-lesbian-yellow: #df8e1d;
  --ctp-latte-lesbian-white: #dce0e8;
  --ctp-latte-lesbian-maroon: #e64553;
  --ctp-latte-lesbian-red: #d20f39;
}
