/* themes/macchiato/finromantic/finromantic.css */
:root {
  --ctp-macchiato-finromantic-purple: #c6a0f6;
  --ctp-macchiato-finromantic-pink: #f5bde6;
  --ctp-macchiato-finromantic-light-pink: #f4dbd6;
  --ctp-macchiato-finromantic-maroon: #ee99a0;
  --ctp-macchiato-finromantic-red: #ed8796;
}
