/* themes/macchiato/aromantic-asexual/aromantic-asexual.css */
:root {
  --ctp-macchiato-aromantic-asexual-peach: #f5a97f;
  --ctp-macchiato-aromantic-asexual-yellow: #eed49f;
  --ctp-macchiato-aromantic-asexual-white: #cad3f5;
  --ctp-macchiato-aromantic-asexual-sky: #91d7e3;
  --ctp-macchiato-aromantic-asexual-blue: #8aadf4;
}
