/* themes/macchiato/womasexual/womasexual.css */
:root {
  --ctp-macchiato-womasexual-red: #ed8796;
  --ctp-macchiato-womasexual-maroon: #ee99a0;
  --ctp-macchiato-womasexual-pink: #f5bde6;
  --ctp-macchiato-womasexual-light-pink: #f0c6c6;
  --ctp-macchiato-womasexual-white: #cad3f5;
}
