/* themes/latte/nonbinary/nonbinary.css */
:root {
  --ctp-latte-nonbinary-yellow: #df8e1d;
  --ctp-latte-nonbinary-white: #dce0e8;
  --ctp-latte-nonbinary-purple: #8839ef;
  --ctp-latte-nonbinary-black: #4c4f69;
}
