/* themes/frappe/genderfluid/genderfluid.css */
:root {
  --ctp-frappe-genderfluid-pink: #f4b8e4;
  --ctp-frappe-genderfluid-white: #c6d0f5;
  --ctp-frappe-genderfluid-purple: #ca9ee6;
  --ctp-frappe-genderfluid-black: #232634;
  --ctp-frappe-genderfluid-blue: #8caaee;
}
