/* themes/macchiato/lesbian/lesbian.css */
:root {
  --ctp-macchiato-lesbian-orange: #ed8796;
  --ctp-macchiato-lesbian-yellow: #f5a97f;
  --ctp-macchiato-lesbian-white: #f4dbd6;
  --ctp-macchiato-lesbian-maroon: #d993c6;
  --ctp-macchiato-lesbian-red: #cb6db2;
}
