/* themes/frappe/polyam-howell/polyam-howell.css */
:root {
  --ctp-frappe-polyam-howell-blue: #8caaee;
  --ctp-frappe-polyam-howell-red: #e78284;
  --ctp-frappe-polyam-howell-dark-mauve: #b475db;
  --ctp-frappe-polyam-evans-white: #c6d0f5;
  --ctp-frappe-polyam-howell-yellow: #e5c890;
}
