/* themes/frappe/polyam/polyam.css */
:root {
    --ctp-frappe-polyam-blue: #8caaee;
    --ctp-frappe-polyam-red: #e78284;
    --ctp-frappe-polyam-black: #232634;
    --ctp-frappe-polyam-yellow: #e5c890;
}
