/* themes/latte/sapphic/sapphic.css */
:root {
  --ctp-latte-sapphic-pink: #ea76cb;
  --ctp-latte-sapphic-white: #dce0e8;
  --ctp-latte-sapphic-mauve: #8839ef;
  --ctp-latte-sapphic-yellow: #df8e1d;
}
