/* themes/mocha/transandrogynous/transandrogynous.css */
:root {
  --ctp-mocha-transandrogynous-purple: #cba6f7;
  --ctp-mocha-transandrogynous-pink: #f5c2e7;
  --ctp-mocha-transandrogynous-white: #f5e0dc;
}
