/* themes/frappe/demigirl/demigirl.css */
:root {
  --ctp-frappe-demigirl-light-gray: #737994;
  --ctp-frappe-demigirl-dark-gray: #949cbb;
  --ctp-frappe-demigirl-pink: #f4b8e4;
  --ctp-frappe-demigirl-white: #c6d0f5;
}
