/* themes/frappe/polyam-evans/polyam-evans.css */
:root {
  --ctp-frappe-polyam-evans-blue: #8caaee;
  --ctp-frappe-polyam-evans-red: #e78284;
  --ctp-frappe-polyam-evans-black: #232634;
  --ctp-frappe-polyam-evans-yellow: #e5c890;
}
