/* themes/macchiato/polyam/polyam.css */
:root {
    --ctp-macchiato-polyam-blue: #8aadf4;
    --ctp-macchiato-polyam-red: #ed8796;
    --ctp-macchiato-polyam-black: #181926;
    --ctp-macchiato-polyam-yellow: #eed49f;
}
