/* themes/mocha/finboy/finboy.css */
:root {
  --ctp-mocha-finboy-yellow: #f9e2af
  --ctp-mocha-finboy-pink: #f5c2e7
  --ctp-mocha-finboy-purple: #cba6f7
  --ctp-mocha-finboy-blue: #89b4fa
  --ctp-mocha-finboy-light-blue: #89dceb
}
