/* themes/macchiato/lgbt/lgbt.css */
:root {
  --ctp-lgbt-red: #ed8796;
  --ctp-lgbt-orange: #f5a97f;
  --ctp-lgbt-yellow: #eed49f;
  --ctp-lgbt-green: #a6da95;
  --ctp-lgbt-blue: #91d7e3;
  --ctp-lgbt-purple: #c6a0f6;
}
