/* themes/frappe/sapphic/sapphic.css */
:root {
  --ctp-frappe-sapphic-pink: #f4b8e4;
  --ctp-frappe-sapphic-white: #f2d5cf;
  --ctp-frappe-sapphic-mauve: #ca9ee6;
  --ctp-frappe-sapphic-yellow: #e5c890;
}
