/* themes/latte/aroace/aroace.css */
:root {
  --ctp-latte-aroace-orange: #fe640b;
  --ctp-latte-aroace-yellow: #df8e1d;
  --ctp-latte-aroace-white: #dce0e8;
  --ctp-latte-aroace-light-blue: #04a5e5;
  --ctp-latte-aroace-dark-blue: #1e66f5;
}
