/* themes/latte/gay-man/gay-man.css */
:root {
  --ctp-latte-gay-man-dark-teal: #0a3e40;
  --ctp-latte-gay-man-teal: #10676c;
  --ctp-latte-gay-man-light-teal: #179299;
  --ctp-latte-gay-man-white: #dce0e8;
  --ctp-latte-gay-man-light-blue: #209fb5;
  --ctp-latte-gay-man-blue: #1e66f5;
  --ctp-latte-gay-man-purple: #8839ef;
}
