/* themes/mocha/transfeminine/transfeminine.css */
:root {
  --ctp-mocha-transfeminine-blue: #74c7ec;
  --ctp-mocha-transfeminine-light-pink: #f5e0dc;
  --ctp-mocha-transfeminine-pink: #eba0ac;
  --ctp-mocha-transfeminine-red: #f38ba8;
}
