/* themes/macchiato/asexual/asexual.css */
:root {
  --ctp-macchiato-asexual-black: #181926;
  --ctp-macchiato-asexual-gray: #6e738d;
  --ctp-macchiato-asexual-white: #cad3f5;
  --ctp-macchiato-asexual-purple: #c6a0f6;
}
