/* themes/macchiato/demiboy/demiboy.css */
:root {
  --ctp-macchiato-demiboy-light-gray: #6e738d;
  --ctp-macchiato-demiboy-dark-gray: #939ab7;
  --ctp-macchiato-demiboy-blue: #8aadf4;
  --ctp-macchiato-demiboy-white: #cad3f5;
}

