/* themes/mocha/womasexual/womasexual.css */
:root {
  --ctp-mocha-womasexual-red: #f38ba8;
  --ctp-mocha-womasexual-maroon: #eba0ac;
  --ctp-mocha-womasexual-pink: #f5c2e7;
  --ctp-mocha-womasexual-light-pink: #f2cdcd;
  --ctp-mocha-womasexual-white: #cdd6f4;
}
