/* themes/latte/polyam/polyam.css */
:root {
    --ctp-latte-polyam-blue: #1e66f5;
    --ctp-latte-polyam-red: #d20f39;
    --ctp-latte-polyam-black: #4c4f69;
    --ctp-latte-polyam-yellow: #df8e1d;
}
