/* themes/macchiato/agender/agender.css */
:root {
  --ctp-macchiato-agender-black: #181926;
  --ctp-macchiato-agender-gray: #6e738d;
  --ctp-macchiato-agender-white: #cad3f5;
  --ctp-macchiato-agender-green: #a6da95;
}
