/* themes/mocha/polyam/polyam.css */
:root {
    --ctp-mocha-polyam-blue: #89b4fa;
    --ctp-mocha-polyam-red: #f38ba8;
    --ctp-mocha-polyam-black: #11111b;
    --ctp-mocha-polyam-yellow: #f9e2af;
}
