/* themes/mocha/transfeminine-ryanyflags/transfeminine-ryanyflags.css */
:root {
  --ctp-mocha-transfeminine-ryanyflags-white: #cdd6f4;
  --ctp-mocha-transfeminine-ryanyflags-sapphire: #74c7ec;
  --ctp-mocha-transfeminine-ryanyflags-blue: #89b4fa;
  --ctp-mocha-transfeminine-ryanyflags-black: #11111b;
}
