/* themes/mocha/aroace/aroace.css */
:root {
  --ctp-mocha-aroace-orange: #fab387;
  --ctp-mocha-aroace-yellow: #f9e2af;
  --ctp-mocha-aroace-white: #cdd6f4;
  --ctp-mocha-aroace-light-blue: #89dceb;
  --ctp-mocha-aroace-dark-blue: #89b4fa;
}
