/* themes/macchiato/transfeminine/transfeminine.css */
:root {
  --ctp-macchiato-transfeminine-blue: #7dc4e4;
  --ctp-macchiato-transfeminine-lighter-pink: #f4dbd6;
  --ctp-macchiato-transfeminine-light-pink: #ee99a0;
  --ctp-macchiato-transfeminine-pink: #ed8796;
}
