/* themes/latte/demiboy/demiboy.css */
:root {
  --ctp-latte-demiboy-light-gray: #7c7f93;
  --ctp-latte-demiboy-dark-gray: #9ca0b0;
  --ctp-latte-demiboy-blue: #1e66f5;
  --ctp-latte-demiboy-white: #dce0e8;
}

