/* themes/mocha/aromantic/aromantic.css */
:root {
  --ctp-mocha-aromantic-green: #a6e3a1;
  --ctp-mocha-aromantic-teal: #94e2d5;
  --ctp-mocha-aromantic-white: #cdd6f4;
  --ctp-mocha-aromantic-gray: #6c7086;
  --ctp-mocha-aromantic-dark: #11111b;
}
