/* themes/macchiato/transandrogynous/transandrogynous.css */
:root {
  --ctp-macchiato-transandrogynous-purple: #c6a0f6;
  --ctp-macchiato-transandrogynous-pink: #f5bde6;
  --ctp-macchiato-transandrogynous-white: #f4dbd6;
}
