/* themes/macchiato/gay-man/gay-man.css */
:root {
  --ctp-macchiato-gay-man-dark-teal: #43b7a6;
  --ctp-macchiato-gay-man-teal: #65c7b8;
  --ctp-macchiato-gay-man-light-teal: #8bd5ca;
  --ctp-macchiato-gay-man-white: #cad3f5;
  --ctp-macchiato-gay-man-light-blue: #7dc4e4;
  --ctp-macchiato-gay-man-blue: #8aadf4;
  --ctp-macchiato-gay-man-purple: #c6a0f6;
}
