/* themes/macchiato/femboy/femboy.css */
:root {
  --ctp-macchiato-femboy-pink: #ed8796;
  --ctp-macchiato-femboy-light-pink: #ee99a0;
  --ctp-macchiato-femboy-white: #f4dbd6;
  --ctp-macchiato-femboy-blue: #8aadf4;
}
