/* themes/frappe/agender/agender.css */
:root {
  --ctp-frappe-agender-black: #232634;
  --ctp-frappe-agender-gray: #737994;
  --ctp-frappe-agender-white: #c6d0f5;
  --ctp-frappe-agender-green: #a6d189;
}
