/* themes/mocha/nonbinary/nonbinary.css */
:root {
  --ctp-mocha-nonbinary-yellow: #f9e2af;
  --ctp-mocha-nonbinary-white: #cdd6f4;
  --ctp-mocha-nonbinary-purple: #cba6f7;
  --ctp-mocha-nonbinary-black: #11111b;
}
