/* themes/latte/womasexual/womasexual.css */
:root {
  --ctp-latte-womasexual-red: #d20f39;
  --ctp-latte-womasexual-maroon: #e64553;
  --ctp-latte-womasexual-pink: #ea76cb;
  --ctp-latte-womasexual-light-pink: #dd7878;
  --ctp-latte-womasexual-white: #dce0e8;
}
