/* themes/latte/finromantic/finromantic.css */
:root {
  --ctp-latte-finromantic-purple: #8839ef;
  --ctp-latte-finromantic-pink: #ea76cb;
  --ctp-latte-finromantic-light-pink: #dc8a78;
  --ctp-latte-finromantic-maroon: #e64553;
  --ctp-latte-finromantic-red: #d20f39;
}
