---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/intersex/intersex.svg"
  hex_format: "#{{r}}{{g}}{{b}}"
---
<?xml version="1.0" encoding="UTF-8" ?>
<svg version="1.1" width="900" height="600" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
  <rect x="0" y="0" width="900" height="600" fill="{{yellow.hex}}" />
  <circle cx="450" cy="300" r="147" fill="none" stroke-width="50" stroke="{{mauve.hex}}" />
</svg>
