/* themes/mocha/transmasculine/transmasculine.css */
:root {
  --ctp-mocha-transmasculine-pink: #eba0ac;
  --ctp-mocha-transmasculine-lighter-blue: #89dceb;
  --ctp-mocha-transmasculine-light-blue: #74c7ec;
  --ctp-mocha-transmasculine-blue: #89b4fa;
}
