/* themes/frappe/finromantic/finromantic.css */
:root {
  --ctp-frappe-finromantic-purple: #ca9ee6;
  --ctp-frappe-finromantic-pink: #f4b8e4;
  --ctp-frappe-finromantic-light-pink: #f2d5cf;
  --ctp-frappe-finromantic-maroon: #ea999c;
  --ctp-frappe-finromantic-red: #e78284;
}
