/* themes/mocha/genderfluid/genderfluid.css */
:root {
  --ctp-mocha-genderfluid-pink: #f5c2e7;
  --ctp-mocha-genderfluid-white: #cdd6f4;
  --ctp-mocha-genderfluid-purple: #cba6f7;
  --ctp-mocha-genderfluid-black: #11111b;
  --ctp-mocha-genderfluid-blue: #89b4fa;
}
