/* themes/mocha/agender/agender.css */
:root {
  --ctp-mocha-agender-black: #11111b;
  --ctp-mocha-agender-gray: #6c7086;
  --ctp-mocha-agender-white: #cdd6f4;
  --ctp-mocha-agender-green: #a6e3a1;
}
