/* themes/latte/polyam-evans/polyam-evans.css */
:root {
  --ctp-latte-polyam-evans-blue: #1e66f5;
  --ctp-latte-polyam-evans-red: #d20f39;
  --ctp-latte-polyam-evans-black: #4c4f69;
  --ctp-latte-polyam-evans-yellow: #df8e1d;
}
