/* themes/frappe/aroace/aroace.css */
:root {
  --ctp-frappe-aroace-orange: #ef9f76;
  --ctp-frappe-aroace-yellow: #e5c890;
  --ctp-frappe-aroace-white: #c6d0f5;
  --ctp-frappe-aroace-light-blue: #99d1db;
  --ctp-frappe-aroace-dark-blue: #8caaee;
}
