/* themes/latte/genderfluid/genderfluid.css */
:root {
  --ctp-latte-genderfluid-pink: #ea76cb;
  --ctp-latte-genderfluid-white: #dce0e8;
  --ctp-latte-genderfluid-purple: #8839ef;
  --ctp-latte-genderfluid-black: #4c4f69;
  --ctp-latte-genderfluid-blue: #1e66f5;
}
