/* themes/frappe/lgbt/lgbt.css */
:root {
  --ctp-lgbt-red: #e78284;
  --ctp-lgbt-orange: #ef9f76;
  --ctp-lgbt-yellow: #e5c890;
  --ctp-lgbt-green: #a6d189;
  --ctp-lgbt-blue: #99d1db;
  --ctp-lgbt-purple: #ca9ee6;
}
