/* themes/frappe/transfeminine-ryanyflags/transfeminine-ryanyflags.css */
:root {
  --ctp-frappe-transfeminine-ryanyflags-white: #c6d0f5;
  --ctp-frappe-transfeminine-ryanyflags-sapphire: #85c1dc;
  --ctp-frappe-transfeminine-ryanyflags-blue: #8caaee;
  --ctp-frappe-transfeminine-ryanyflags-black: #232634;
}
