/* themes/frappe/aromantic-asexual/aromantic-asexual.css */
:root {
  --ctp-frappe-aromantic-asexual-peach: #ef9f76;
  --ctp-frappe-aromantic-asexual-yellow: #e5c890;
  --ctp-frappe-aromantic-asexual-white: #c6d0f5;
  --ctp-frappe-aromantic-asexual-sky: #99d1db;
  --ctp-frappe-aromantic-asexual-blue: #8caaee;
}
