---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/aromantic/aromantic.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/aromantic/aromantic.css */
:root {
  --ctp-{{flavor.identifier}}-aromantic-green: {{green.hex}};
  --ctp-{{flavor.identifier}}-aromantic-teal: {{teal.hex}};
  --ctp-{{flavor.identifier}}-aromantic-white: {{if(cond=flavor.light, t=crust.hex, f=text.hex)}};
  --ctp-{{flavor.identifier}}-aromantic-gray: {{overlay0.hex}};
  --ctp-{{flavor.identifier}}-aromantic-dark: {{if(cond=flavor.light, t=text.hex, f=crust.hex)}};
}
