---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/demigender/demigender.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/demigender/demigender.css */
:root {
  --ctp-{{flavor.identifier}}-demigender-light-gray: {{if(cond=flavor.light, t=overlay2.hex, f=overlay0.hex)}};
  --ctp-{{flavor.identifier}}-demigender-dark-gray: {{if(cond=flavor.light, t=overlay0.hex, f=overlay2.hex)}};
  --ctp-{{flavor.identifier}}-demigender-yellow: {{yellow.hex}};
  --ctp-{{flavor.identifier}}-demigender-white: {{if(cond=flavor.light, t=crust.hex, f=text.hex)}};
}
