---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/gay-man/gay-man.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/gay-man/gay-man.css */
:root {
  --ctp-{{flavor.identifier}}-gay-man-dark-teal: {{teal | sub(lightness=20) | get(key="hex")}};
  --ctp-{{flavor.identifier}}-gay-man-teal: {{teal | sub(lightness=10) | get(key="hex")}};
  --ctp-{{flavor.identifier}}-gay-man-light-teal: {{teal.hex}};
  --ctp-{{flavor.identifier}}-gay-man-white: {{if(cond=flavor.light, t=crust.hex, f=text.hex)}};
  --ctp-{{flavor.identifier}}-gay-man-light-blue: {{sapphire.hex}};
  --ctp-{{flavor.identifier}}-gay-man-blue: {{blue.hex}};
  --ctp-{{flavor.identifier}}-gay-man-purple: {{mauve.hex}};
}
