---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/genderfluid/genderfluid.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/genderfluid/genderfluid.css */
:root {
  --ctp-{{flavor.identifier}}-genderfluid-pink: {{pink.hex}};
  --ctp-{{flavor.identifier}}-genderfluid-white: {{if(cond=flavor.light, t=crust.hex, f=text.hex)}};
  --ctp-{{flavor.identifier}}-genderfluid-purple: {{mauve.hex}};
  --ctp-{{flavor.identifier}}-genderfluid-black: {{if(cond=flavor.light, t=text.hex, f=crust.hex)}};
  --ctp-{{flavor.identifier}}-genderfluid-blue: {{blue.hex}};
}
