---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/genderqueer/genderqueer.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/genderqueer/genderqueer.css */
:root {
  --ctp-{{flavor.identifier}}-genderqueer-purple: {{mauve.hex}};
  --ctp-{{flavor.identifier}}-genderqueer-white: {{if(cond=flavor.light, t=crust.hex, f=text.hex)}};
  --ctp-{{flavor.identifier}}-genderqueer-green: {{green.hex}};
}
