---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/gnc/gnc.css"
  hex_format: "#{{r}}{{g}}{{b}}"
---
/* themes/{{flavor.identifier}}/gnc/gnc.css */
:root {
  --ctp-{{flavor.identifier}}-gnc-dark-purple: {{mauve | sub(lightness=10) | get(key="hex")}};
  --ctp-{{flavor.identifier}}-gnc-purple: {{mauve.hex}};
  --ctp-{{flavor.identifier}}-gnc-blue: {{blue.hex}};
  --ctp-{{flavor.identifier}}-gnc-white: {{if(cond=flavor.light, t=crust.hex, f=text.hex)}};
}
