---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/intersex/intersex.css"
  hex_format: "#{{r}}{{g}}{{b}}"
---
/* themes/{{flavor.identifier}}/intersex/intersex.css */
:root {
  --ctp-{{flavor.identifier}}-intersex-yellow: {{yellow.hex}};
  --ctp-{{flavor.identifier}}-intersex-purple: {{mauve.hex}};
}
