---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/lesbian/lesbian.css"
  hex_format: "#{{r}}{{g}}{{b}}"
---
/* themes/{{flavor.identifier}}/lesbian/lesbian.css */
:root {
  --ctp-{{flavor.identifier}}-lesbian-orange: {{red.hex}};
  --ctp-{{flavor.identifier}}-lesbian-yellow: {{peach.hex}};
  --ctp-{{flavor.identifier}}-lesbian-white: {{if(cond=flavor.light, t=crust.hex, f=rosewater.hex)}};
  --ctp-{{flavor.identifier}}-lesbian-maroon: {{mauve | mix(color=red, amount=0.5) | get(key="hex")}};
  --ctp-{{flavor.identifier}}-lesbian-red: {{mauve | mix(color=red, amount=0.5) | sub(lightness=10) | get(key="hex")}};
}
