---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/lesbian/lesbian.css"
  hex_format: "#{{r}}{{g}}{{b}}"
---
/* themes/{{flavor.identifier}}/lesbian/lesbian.css */
:root {
  --ctp-{{flavor.identifier}}-lesbian-orange: {{peach.hex}};
  --ctp-{{flavor.identifier}}-lesbian-yellow: {{yellow.hex}};
  --ctp-{{flavor.identifier}}-lesbian-white: {{if(cond=flavor.light, t=crust.hex, f=text.hex)}};
  --ctp-{{flavor.identifier}}-lesbian-maroon: {{maroon.hex}};
  --ctp-{{flavor.identifier}}-lesbian-red: {{red.hex}};
}
