---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/lgbt/lgbt.css"
  hex_format: "#{{r}}{{g}}{{b}}"
---
:root {
  /* LGBT Flag – 6 stripes: red, peach, yellow, green, sky, mauve */
  --ctp-lgbt-red: {{red.hex}};
  --ctp-lgbt-peach: {{peach.hex}};
  --ctp-lgbt-yellow: {{yellow.hex}};
  --ctp-lgbt-green: {{green.hex}};
  --ctp-lgbt-sky: {{sky.hex}};
  --ctp-lgbt-mauve: {{mauve.hex}};
}
