---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/lgbt/lgbt.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/lgbt/lgbt.css */
:root {
  --ctp-lgbt-red: {{red.hex}};
  --ctp-lgbt-orange: {{peach.hex}};
  --ctp-lgbt-yellow: {{yellow.hex}};
  --ctp-lgbt-green: {{green.hex}};
  --ctp-lgbt-blue: {{sky.hex}};
  --ctp-lgbt-purple: {{mauve.hex}};
}
