---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/polysexual/polysexual.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/polysexual/polysexual.css */
:root {
  --ctp-{{flavor.identifier}}-polysexual-purple: {{mauve.hex}};
  --ctp-{{flavor.identifier}}-polysexual-green: {{green.hex}};
  --ctp-{{flavor.identifier}}-polysexual-blue: {{blue.hex}};
}
