---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/polyam/polyam.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/polyam/polyam.css */
:root {
    --ctp-{{flavor.identifier}}-polyam-blue: {{blue.hex}};
    --ctp-{{flavor.identifier}}-polyam-red: {{red.hex}};
    --ctp-{{flavor.identifier}}-polyam-black: {{if(cond=flavor.light, t=text.hex, f=crust.hex)}};
    --ctp-{{flavor.identifier}}-polyam-yellow: {{yellow.hex}};
}
