---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/transfeminine/transfeminine.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/transfeminine/transfeminine.css */
:root {
  --ctp-{{flavor.identifier}}-transfeminine-blue: {{sapphire.hex}};
  --ctp-{{flavor.identifier}}-transfeminine-lighter-pink: {{if(cond=flavor.light, t=crust.hex, f=rosewater.hex)}};
  --ctp-{{flavor.identifier}}-transfeminine-light-pink: {{if(cond=flavor.light, t=rosewater.hex, f=maroon.hex)}};
  --ctp-{{flavor.identifier}}-transfeminine-pink: {{if(cond=flavor.light, t=flamingo.hex, f=red.hex)}};
}
