---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/transandrogynous/transandrogynous.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/transandrogynous/transandrogynous.css */
:root {
  --ctp-{{flavor.identifier}}-transandrogynous-purple: {{mauve.hex}};
  --ctp-{{flavor.identifier}}-transandrogynous-pink: {{pink.hex}};
  --ctp-{{flavor.identifier}}-transandrogynous-white: {{if(cond=flavor.light, t=crust.hex, f=rosewater.hex)}};
}
