/* themes/mocha/lesbian/lesbian.css */
:root {
  --ctp-mocha-lesbian-orange: #f38ba8;
  --ctp-mocha-lesbian-yellow: #fab387;
  --ctp-mocha-lesbian-white: #f5e0dc;
  --ctp-mocha-lesbian-maroon: #df98d0;
  --ctp-mocha-lesbian-red: #d371be;
}
