/* themes/mocha/lesbian/lesbian.css */
:root {
  --ctp-mocha-lesbian-orange: #fab387;
  --ctp-mocha-lesbian-yellow: #f9e2af;
  --ctp-mocha-lesbian-white: #cdd6f4;
  --ctp-mocha-lesbian-maroon: #eba0ac;
  --ctp-mocha-lesbian-red: #f38ba8;
}
