/* themes/latte/aromantic-asexual/aromantic-asexual.css */
:root {
  --ctp-latte-aromantic-asexual-peach: #fe640b;
  --ctp-latte-aromantic-asexual-yellow: #df8e1d;
  --ctp-latte-aromantic-asexual-white: #dce0e8;
  --ctp-latte-aromantic-asexual-sky: #04a5e5;
  --ctp-latte-aromantic-asexual-blue: #1e66f5;
}
