/* themes/frappe/asexual/asexual.css */
:root {
  --ctp-frappe-asexual-black: #232634;
  --ctp-frappe-asexual-gray: #737994;
  --ctp-frappe-asexual-white: #c6d0f5;
  --ctp-frappe-asexual-purple: #ca9ee6;
}
