/* themes/latte/transfeminine/transfeminine.css */
:root {
  --ctp-latte-transfeminine-blue: #209fb5;
  --ctp-latte-transfeminine-lighter-pink: #dce0e8;
  --ctp-latte-transfeminine-light-pink: #dc8a78;
  --ctp-latte-transfeminine-pink: #dd7878;
}
