/* themes/latte/agender/agender.css */
:root {
  --ctp-latte-agender-black: #4c4f69;
  --ctp-latte-agender-gray: #9ca0b0;
  --ctp-latte-agender-white: #dce0e8;
  --ctp-latte-agender-green: #40a02b;
}
