/* themes/latte/transmasculine/transmasculine.css */
:root {
  --ctp-latte-transmasculine-pink: #dc8a78;
  --ctp-latte-transmasculine-lighter-blue: #04a5e5;
  --ctp-latte-transmasculine-light-blue: #209fb5;
  --ctp-latte-transmasculine-blue: #1e66f5;
}
