/* themes/frappe/transandrogynous/transandrogynous.css */
:root {
  --ctp-frappe-transandrogynous-purple: #ca9ee6;
  --ctp-frappe-transandrogynous-pink: #f4b8e4;
  --ctp-frappe-transandrogynous-white: #c6d0f5;
}
