/* themes/macchiato/demigender/demigender.css */
:root {
  --ctp-macchiato-demigender-light-gray: #6e738d;
  --ctp-macchiato-demigender-dark-gray: #939ab7;
  --ctp-macchiato-demigender-yellow: #eed49f;
  --ctp-macchiato-demigender-white: #cad3f5;
}
