/* themes/latte/lgbt/lgbt.css */
:root {
  --ctp-lgbt-red: #d20f39;
  --ctp-lgbt-orange: #fe640b;
  --ctp-lgbt-yellow: #df8e1d;
  --ctp-lgbt-green: #40a02b;
  --ctp-lgbt-blue: #04a5e5;
  --ctp-lgbt-purple: #8839ef;
}
