/* themes/macchiato/polyam-evans/polyam-evans.css */
:root {
  --ctp-macchiato-polyam-evans-blue: #8aadf4;
  --ctp-macchiato-polyam-evans-red: #ed8796;
  --ctp-macchiato-polyam-evans-black: #181926;
  --ctp-macchiato-polyam-evans-yellow: #eed49f;
}
