/* themes/mocha/demigender/demigender.css */
:root {
  --ctp-mocha-demigender-light-gray: #6c7086;
  --ctp-mocha-demigender-dark-gray: #9399b2;
  --ctp-mocha-demigender-yellow: #f9e2af;
  --ctp-mocha-demigender-white: #cdd6f4;
}
