/* themes/frappe/transfeminine/transfeminine.css */
:root {
  --ctp-frappe-transfeminine-blue: #85c1dc;
  --ctp-frappe-transfeminine-lighter-pink: #f2d5cf;
  --ctp-frappe-transfeminine-light-pink: #ea999c;
  --ctp-frappe-transfeminine-pink: #e78284;
}
