/* themes/latte/transfeminine-ryanyflags/transfeminine-ryanyflags.css */
:root {
  --ctp-latte-transfeminine-ryanyflags-white: #dce0e8;
  --ctp-latte-transfeminine-ryanyflags-sapphire: #209fb5;
  --ctp-latte-transfeminine-ryanyflags-blue: #1e66f5;
  --ctp-latte-transfeminine-ryanyflags-black: #4c4f69;
}
