/* themes/frappe/finboy/finboy.css */
:root {
  --ctp-frappe-finboy-yellow: #e5c890
  --ctp-frappe-finboy-pink: #f4b8e4
  --ctp-frappe-finboy-purple: #ca9ee6
  --ctp-frappe-finboy-blue: #8caaee
  --ctp-frappe-finboy-light-blue: #99d1db
}
