/* themes/latte/polyam-howell/polyam-howell.css */
:root {
  --ctp-latte-polyam-howell-blue: #1e66f5;
  --ctp-latte-polyam-howell-red: #d20f39;
  --ctp-latte-polyam-howell-dark-mauve: #6c12e2;
  --ctp-latte-polyam-evans-white: #dce0e8;
  --ctp-latte-polyam-howell-yellow: #df8e1d;
}
