/* themes/macchiato/finboy/finboy.css */
:root {
  --ctp-macchiato-finboy-yellow: #eed49f
  --ctp-macchiato-finboy-pink: #f5bde6
  --ctp-macchiato-finboy-purple: #c6a0f6
  --ctp-macchiato-finboy-blue: #8aadf4
  --ctp-macchiato-finboy-light-blue: #91d7e3
}
