/* themes/latte/demigender/demigender.css */
:root {
  --ctp-latte-demigender-light-gray: #7c7f93;
  --ctp-latte-demigender-dark-gray: #9ca0b0;
  --ctp-latte-demigender-yellow: #df8e1d;
  --ctp-latte-demigender-white: #dce0e8;
}
