/* themes/macchiato/gnc/gnc.css */
:root {
  --ctp-macchiato-gnc-dark-purple: #ab70f2;
  --ctp-macchiato-gnc-purple: #c6a0f6;
  --ctp-macchiato-gnc-blue: #8aadf4;
  --ctp-macchiato-gnc-white: #cad3f5;
}
