/* themes/frappe/demigender/demigender.css */
:root {
  --ctp-frappe-demigender-light-gray: #737994;
  --ctp-frappe-demigender-dark-gray: #949cbb;
  --ctp-frappe-demigender-yellow: #e5c890;
  --ctp-frappe-demigender-white: #c6d0f5;
}
