/* themes/macchiato/transgender/transgender.css */
:root {
  --ctp-macchiato-transgender-sapphire: #7dc4e4;
  --ctp-macchiato-transgender-pink: #ee99a0;
  --ctp-macchiato-transgender-white: #f4dbd6;
}
