/* themes/frappe/nonbinary/nonbinary.css */
:root {
  --ctp-frappe-nonbinary-yellow: #e5c890;
  --ctp-frappe-nonbinary-white: #c6d0f5;
  --ctp-frappe-nonbinary-purple: #ca9ee6;
  --ctp-frappe-nonbinary-black: #232634;
}
