/* themes/mocha/lgbt/lgbt.css */
:root {
  --ctp-lgbt-red: #f38ba8;
  --ctp-lgbt-orange: #fab387;
  --ctp-lgbt-yellow: #f9e2af;
  --ctp-lgbt-green: #a6e3a1;
  --ctp-lgbt-blue: #89dceb;
  --ctp-lgbt-purple: #cba6f7;
}
