---
whiskers:
  version: "^2.9.0"
  matrix:
    - variant: ["css", "svg"]
    - flavor
  filename: "themes/{{flavor.identifier}}/aroace/aroace.{{ variant }}"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/aroace/aroace.{{ variant }} */
{%- if variant == "css" %}
:root {
  --ctp-{{flavor.identifier}}-aroace-orange: {{peach.hex}};
  --ctp-{{flavor.identifier}}-aroace-yellow: {{yellow.hex}};
  --ctp-{{flavor.identifier}}-aroace-white: {{if(cond=flavor.light, t=crust.hex, f=text.hex)}};
  --ctp-{{flavor.identifier}}-aroace-light-blue: {{sky.hex}};
  --ctp-{{flavor.identifier}}-aroace-dark-blue: {{blue.hex}};
}
{%- elif variant == "svg" %}
<?xml version="1.0" encoding="UTF-8" ?>
<svg version="1.1" width="1000" height="500" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
<rect x="0" y="0" width="1000" height="100" fill="{{peach.hex}}" stroke="{{peach.hex}}" />
<rect x="0" y="100" width="1000" height="100" fill="{{yellow.hex}}" stroke="{{yellow.hex}}" />
<rect x="0" y="200" width="1000" height="100" fill="{{if(cond=flavor.light, t=crust.hex, f=text.hex)}}" stroke="{{if(cond=flavor.light, t=crust.hex, f=text.hex)}}" />
<rect x="0" y="300" width="1000" height="100" fill="{{sky.hex}}" stroke="{{sky.hex}}" />
<rect x="0" y="400" width="1000" height="100" fill="{{blue.hex}}" stroke="{{blue.hex}}" />
</svg>
{% endif %}
