---
whiskers:
  version: "^2.9.0"
  matrix:
    - variant: ["css", "svg"]
    - flavor
  filename: "themes/{{flavor.identifier}}/genderqueer/genderqueer.{{ variant }}"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/genderqueer/genderqueer.{{ variant }} */
{%- if variant == "css" %}
:root {
  --ctp-{{flavor.identifier}}-genderqueer-purple: {{mauve.hex}};
  --ctp-{{flavor.identifier}}-genderqueer-white: {{if(cond=flavor.light, t=crust.hex, f=text.hex)}};
  --ctp-{{flavor.identifier}}-genderqueer-green: {{green.hex}};
}
{%- elif variant == "svg" %}
<?xml version="1.0" encoding="UTF-8" ?>
<svg version="1.1" width="600" height="300" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
<rect x="0" y="0" width="600" height="100" fill="{{mauve.hex}}" stroke="{{mauve.hex}}" />
<rect x="0" y="100" width="600" height="100" fill="{{if(cond=flavor.light, t=crust.hex, f=text.hex)}}" stroke="{{if(cond=flavor.light, t=crust.hex, f=text.hex)}}" />
<rect x="0" y="200" width="600" height="100" fill="{{green.hex}}" stroke="{{green.hex}}" />
</svg>
{% endif %}
