---
whiskers:
  version: "^2.9.0"
  matrix:
    - variant: ["css", "svg"]
    - flavor
  filename: "themes/{{flavor.identifier}}/gnc/gnc.{{ variant }}"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/gnc/gnc.{{ variant }} */
{%- if variant == "css" %}
:root {
  --ctp-{{flavor.identifier}}-gnc-dark-purple: {{mauve | sub(lightness=10) | get(key="hex")}};
  --ctp-{{flavor.identifier}}-gnc-purple: {{mauve.hex}};
  --ctp-{{flavor.identifier}}-gnc-blue: {{blue.hex}};
  --ctp-{{flavor.identifier}}-gnc-white: {{if(cond=flavor.light, t=crust.hex, f=text.hex)}};
}
{%- elif variant == "svg" %}
<?xml version="1.0" encoding="UTF-8" ?>
<svg version="1.1" width="1000" height="700" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
<rect x="0" y="0" width="1000" height="100" fill="{{mauve | sub(lightness=10) | get(key="hex")}}" stroke="{{mauve | sub(lightness=10) | get(key="hex")}}" />
<rect x="0" y="100" width="1000" height="100" fill="{{mauve.hex}}" stroke="{{mauve.hex}}" />
<rect x="0" y="200" width="1000" height="100" fill="{{blue.hex}}" stroke="{{blue.hex}}" />
<rect x="0" y="300" width="1000" height="100" fill="{{if(cond=flavor.light, t=crust.hex, f=text.hex)}}" stroke="{{if(cond=flavor.light, t=crust.hex, f=text.hex)}}" />
<rect x="0" y="400" width="1000" height="100" fill="{{blue.hex}}" stroke="{{blue.hex}}" />
<rect x="0" y="500" width="1000" height="100" fill="{{mauve.hex}}" stroke="{{mauve.hex}}" />
<rect x="0" y="600" width="1000" height="100" fill="{{mauve | sub(lightness=10) | get(key="hex")}}" stroke="{{mauve | sub(lightness=10) | get(key="hex")}}" />
</svg>
{% endif %}
