---
whiskers:
  version: "^2.9.0"
  matrix:
    - variant: ["css", "svg"]
    - flavor
  filename: "themes/{{flavor.identifier}}/gynesexual/gynesexual.{{ variant }}"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/gynesexual/gynesexual.{{ variant }} */
{%- if variant == "css" %}
:root {
  --ctp-{{flavor.identifier}}-gynesexual-pink: {{pink.hex}};
  --ctp-{{flavor.identifier}}-gynesexual-peach: {{peach.hex}};
  --ctp-{{flavor.identifier}}-gynesexual-green: {{green.hex}};
}
{%- elif variant == "svg" %}
<?xml version="1.0" encoding="UTF-8" ?>
<svg version="1.1" width="600" height="300" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
<rect x="0" y="0" width="600" height="100" fill="{{pink.hex}}" />
<rect x="0" y="100" width="600" height="100" fill="{{peach.hex}}" />
<rect x="0" y="200" width="600" height="100" fill="{{green.hex}}" />
</svg>
{% endif %}
