/* themes/macchiato/transfeminine-ryanyflags/transfeminine-ryanyflags.css */
:root {
  --ctp-macchiato-transfeminine-ryanyflags-white: #cad3f5;
  --ctp-macchiato-transfeminine-ryanyflags-sapphire: #7dc4e4;
  --ctp-macchiato-transfeminine-ryanyflags-blue: #8aadf4;
  --ctp-macchiato-transfeminine-ryanyflags-black: #181926;
}
