---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
  filename: "themes/{{flavor.identifier}}/finromantic/finromantic.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* themes/{{flavor.identifier}}/finromantic/finromantic.css */
:root {
  --ctp-{{flavor.identifier}}-finromantic-purple: {{mauve.hex}};
  --ctp-{{flavor.identifier}}-finromantic-pink: {{pink.hex}};
  --ctp-{{flavor.identifier}}-finromantic-light-pink: {{rosewater.hex}};
  --ctp-{{flavor.identifier}}-finromantic-maroon: {{maroon.hex}};
  --ctp-{{flavor.identifier}}-finromantic-red: {{red.hex}};
}
