/* themes/latte/finboy/finboy.css */
:root {
  --ctp-latte-finboy-yellow: #df8e1d
  --ctp-latte-finboy-pink: #ea76cb
  --ctp-latte-finboy-purple: #8839ef
  --ctp-latte-finboy-blue: #1e66f5
  --ctp-latte-finboy-light-blue: #04a5e5
}
