/* themes/latte/aromantic/aromantic.css */
:root {
  --ctp-latte-aromantic-green: #40a02b;
  --ctp-latte-aromantic-teal: #179299;
  --ctp-latte-aromantic-white: #dce0e8;
  --ctp-latte-aromantic-gray: #9ca0b0;
  --ctp-latte-aromantic-dark: #4c4f69;
}
