/* themes/frappe/transmasculine/transmasculine.css */
:root {
  --ctp-frappe-transmasculine-pink: #ea999c;
  --ctp-frappe-transmasculine-lighter-blue: #99d1db;
  --ctp-frappe-transmasculine-light-blue: #85c1dc;
  --ctp-frappe-transmasculine-blue: #8caaee;
}
