/* themes/mocha/gay-man/gay-man.css */
:root {
  --ctp-mocha-gay-man-dark-teal: #44ccb5;
  --ctp-mocha-gay-man-teal: #6bd7c5;
  --ctp-mocha-gay-man-light-teal: #94e2d5;
  --ctp-mocha-gay-man-white: #cdd6f4;
  --ctp-mocha-gay-man-light-blue: #74c7ec;
  --ctp-mocha-gay-man-blue: #89b4fa;
  --ctp-mocha-gay-man-purple: #cba6f7;
}
