/* themes/mocha/demiboy/demiboy.css */
:root {
  --ctp-mocha-demiboy-light-gray: #6c7086;
  --ctp-mocha-demiboy-dark-gray: #9399b2;
  --ctp-mocha-demiboy-blue: #89b4fa;
  --ctp-mocha-demiboy-white: #cdd6f4;
}
