/* themes/frappe/femboy/femboy.css */
:root {
  --ctp-frappe-femboy-pink: #e78284;
  --ctp-frappe-femboy-light-pink: #ea999c;
  --ctp-frappe-femboy-white: #f2d5cf;
  --ctp-frappe-femboy-blue: #8caaee;
}
