/* themes/mocha/aromantic-asexual/aromantic-asexual.css */
:root {
  --ctp-mocha-aromantic-asexual-peach: #fab387;
  --ctp-mocha-aromantic-asexual-yellow: #f9e2af;
  --ctp-mocha-aromantic-asexual-white: #cdd6f4;
  --ctp-mocha-aromantic-asexual-sky: #89dceb;
  --ctp-mocha-aromantic-asexual-blue: #89b4fa;
}
