/* themes/mocha/sapphic/sapphic.css */
:root {
  --ctp-mocha-sapphic-pink: #f5c2e7;
  --ctp-mocha-sapphic-white: #f5e0dc;
  --ctp-mocha-sapphic-mauve: #cba6f7;
  --ctp-mocha-sapphic-yellow: #f9e2af;
}
