/* themes/mocha/demigirl/demigirl.css */
:root {
  --ctp-mocha-demigirl-light-gray: #6c7086;
  --ctp-mocha-demigirl-dark-gray: #9399b2;
  --ctp-mocha-demigirl-pink: #f5c2e7;
  --ctp-mocha-demigirl-white: #cdd6f4;
}
