/* themes/macchiato/greysexual/greysexual.css */
:root {
  --ctp-macchiato-greysexual-purple: #c6a0f6;
  --ctp-macchiato-greysexual-light-gray: #939ab7;
  --ctp-macchiato-greysexual-white: #cad3f5;
}
