/* themes/macchiato/demigirl/demigirl.css */
:root {
  --ctp-macchiato-demigirl-light-gray: #6e738d;
  --ctp-macchiato-demigirl-dark-gray: #939ab7;
  --ctp-macchiato-demigirl-pink: #f5bde6;
  --ctp-macchiato-demigirl-white: #cad3f5;
}
