/* themes/mocha/polyam-howell/polyam-howell.css */
:root {
  --ctp-mocha-polyam-howell-blue: #89b4fa;
  --ctp-mocha-polyam-howell-red: #f38ba8;
  --ctp-mocha-polyam-howell-dark-mauve: #af77f3;
  --ctp-mocha-polyam-evans-white: #cdd6f4;
  --ctp-mocha-polyam-howell-yellow: #f9e2af;
}
