/* themes/frappe/demiboy/demiboy.css */
:root {
  --ctp-frappe-demiboy-light-gray: #737994;
  --ctp-frappe-demiboy-dark-gray: #949cbb;
  --ctp-frappe-demiboy-blue: #8caaee;
  --ctp-frappe-demiboy-white: #c6d0f5;
}
