/* themes/macchiato/genderfluid/genderfluid.css */
:root {
  --ctp-macchiato-genderfluid-pink: #f5bde6;
  --ctp-macchiato-genderfluid-white: #cad3f5;
  --ctp-macchiato-genderfluid-purple: #c6a0f6;
  --ctp-macchiato-genderfluid-black: #181926;
  --ctp-macchiato-genderfluid-blue: #8aadf4;
}
