/* themes/frappe/lesbian/lesbian.css */
:root {
  --ctp-frappe-lesbian-orange: #ef9f76;
  --ctp-frappe-lesbian-yellow: #e5c890;
  --ctp-frappe-lesbian-white: #c6d0f5;
  --ctp-frappe-lesbian-maroon: #ea999c;
  --ctp-frappe-lesbian-red: #e78284;
}
