/* themes/frappe/lesbian/lesbian.css */
:root {
  --ctp-frappe-lesbian-orange: #e78284;
  --ctp-frappe-lesbian-yellow: #ef9f76;
  --ctp-frappe-lesbian-white: #f2d5cf;
  --ctp-frappe-lesbian-maroon: #d890b5;
  --ctp-frappe-lesbian-red: #ca6a9c;
}
