/* themes/macchiato/polyam-howell/polyam-howell.css */
:root {
  --ctp-macchiato-polyam-howell-blue: #8aadf4;
  --ctp-macchiato-polyam-howell-red: #ed8796;
  --ctp-macchiato-polyam-howell-dark-mauve: #ab70f2;
  --ctp-macchiato-polyam-evans-white: #cad3f5;
  --ctp-macchiato-polyam-howell-yellow: #eed49f;
}
