/* themes/frappe/gay-man/gay-man.css */
:root {
  --ctp-frappe-gay-man-dark-teal: #459f93;
  --ctp-frappe-gay-man-teal: #5eb8ac;
  --ctp-frappe-gay-man-light-teal: #81c8be;
  --ctp-frappe-gay-man-white: #c6d0f5;
  --ctp-frappe-gay-man-light-blue: #85c1dc;
  --ctp-frappe-gay-man-blue: #8caaee;
  --ctp-frappe-gay-man-purple: #ca9ee6;
}
