/* themes/macchiato/nonbinary/nonbinary.css */
:root {
  --ctp-macchiato-nonbinary-yellow: #eed49f;
  --ctp-macchiato-nonbinary-white: #cad3f5;
  --ctp-macchiato-nonbinary-purple: #c6a0f6;
  --ctp-macchiato-nonbinary-black: #181926;
}
